

/*
    Non-Boostrap styles (Personal Definitions)
    Author: Tohlang Rakhapu
    For: EEE4113F
*/

.cursor-pointer {
    cursor: pointer;
}

.sort-icon {
    margin-left: 5px;
    opacity: 0.3;
}

.sort-active {
    opacity: 1;
}

.sort-hidden {
    display: none !important;
}

th[data-sort="asc"] .fa-sort-up,
th[data-sort="desc"] .fa-sort-down {
    opacity: 1;
    display: inline-block !important;
}

th[data-sort="asc"] .fa-sort,
th[data-sort="asc"] .fa-sort-down,
th[data-sort="desc"] .fa-sort,
th[data-sort="desc"] .fa-sort-up {
    display: none !important;
}